<app-menu></app-menu>
<div class="container-main">    
    <a class="botones nav-link" routerLink="/misturno">
        <h2>Mis Turnos</h2>
        <br>
        <p>Aqui se pueden ver tus turnos pendientes.</p>        
    </a>
    <a class="botones nav-link" routerLink="/solicturno">
        <h2>Solicitar Turnos</h2>
        <br>
        <p>Aqui se puede solicitar turno.</p>       
    </a>    
    <a class="botones nav-link" routerLink="/administracion">
        <h2>Mis Datos</h2>
        <br>
        <p>Aqui pueden modificar los datos personales.</p>       
    </a>
</div>