<app-menu></app-menu>
<p *ngIf="isAdmin || isMedic">Bienvenido Doctor ""</p>
<div class="container-main">
    
    <div class="botones ">
        <h2>Consultorio de<br>Medicina General</h2>
        <br>
        <p>Aqui pueden ingresar los medicos</p>
        <br>
        <br>
        <a class="nav-link" *ngIf="isAdmin || isMedic" routerLink="">Ver turnos pendientes</a>
        <a class="nav-link" routerLink="">Solicitar turnos</a>
        <span>footer</span>
    </div>
    <div class="botones" >
        <h2>Consultorio de<br>Pediatría</h2>
        <br>
        <p>Aqui pueden ingresar los enfermeros</p>
        <br>
        <br>
        <a class="nav-link" *ngIf="isAdmin || isMedic" routerLink="">Ver turnos pendientes</a>
        <a class="nav-link" routerLink="">Solicitar turnos</a>
        <span>footer</span>
    </div>
    <div class="botones " >
        <h2>Consultorio de<br>Ginecología y Obstetricia</h2>
        <br>
        <p>Aqui pueden ingresar pacientes</p>
        <br>
        <br>
        <a class="nav-link" *ngIf="isAdmin || isMedic" routerLink="">Ver turnos pendientes</a>
        <a class="nav-link" routerLink="">Solicitar turnos</a>
        <span>footer</span>
    </div>
    <div class="botones " >
        <h2>Consultorio de<br>Dermatología</h2>
        <br>
        <p>Aqui pueden ingresar farmaceuticos</p>
        <br>
        <br>
        <a class="nav-link" *ngIf="isAdmin || isMedic" routerLink="">Ver turnos pendientes</a>
        <a class="nav-link" routerLink="">Solicitar turnos</a>
        <span>footer</span>
    </div>
    <div class="botones ">
        <h2>Consultorio de<br>Oftalmología</h2>
        <br>
        <p>Aqui pueden ingresar directivos</p>
        <br>
        <br>
        <a class="nav-link" *ngIf="isAdmin || isMedic" routerLink="">Ver turnos pendientes</a>
        <a class="nav-link" routerLink="">Solicitar turnos</a>
        <span>footer</span>
    </div>
    <div class="botones" >
        <h2>Consultorio de<br>Endocrinología</h2>
        <br>
        <p>Aqui pueden ingresar administrativos</p>
        <br>
        <br>
        <a class="nav-link" *ngIf="isAdmin || isMedic" routerLink="">Ver turnos pendientes</a>
        <a class="nav-link" routerLink="">Solicitar turnos</a>
        <span>footer</span>
    </div>
    <div class="botones" >
        <h2>Consultorio de<br>Cardiología</h2>
        <br>
        <p>Aqui pueden ingresar administrativos</p>
        <br>
        <br>
        <a class="nav-link" *ngIf="isAdmin || isMedic" routerLink="">Ver turnos pendientes</a>
        <a class="nav-link" routerLink="">Solicitar turnos</a>
        <span>footer</span>
    </div>
    <div class="botones" >
        <h2>Consultorio de<br>Neurología</h2>
        <br>
        <p>Aqui pueden ingresar administrativos</p>
        <br>
        <br>
        <a class="nav-link" *ngIf="isAdmin || isMedic" routerLink="">Ver turnos pendientes</a>
        <a class="nav-link" routerLink="">Solicitar turnos</a>
        <span>footer</span>
    </div>
    <div class="botones" >
        <h2>Consultorio de<br>Gastroenterología</h2>
        <br>
        <p>Aqui pueden ingresar administrativos</p>
        <br>
        <br>
        <a class="nav-link" *ngIf="isAdmin || isMedic" routerLink="">Ver turnos pendientes</a>
        <a class="nav-link" routerLink="">Solicitar turnos</a>
        <span>footer</span>
    </div>
</div>