<app-menu></app-menu>
<div class="container-main">
    
    <a class="botones nav-link" routerLink="/misturno">
        <h2>Mis Turnos</h2>
        <br>
        <p>Aqui se puede sacar turnos</p>
        
    </a>
    <a class="botones nav-link" routerLink="/solicturno">
        <h2>Solicitar Turnos</h2>
        <br>
        <p>Aqui se puede solicitar turno</p>
       
    </a>
    <a class="botones nav-link" routerLink="/pacientes">
        <h2>Mis recetas</h2>
        <br>
        <p>Aqui se pueden ver recetas</p>
       
    </a>
    <a class="botones nav-link" routerLink="/farmacia">
        <h2>Solicitar Recetas</h2>
        <br>
        <p>Aqui se pueden solicitar recetas</p>
        
    </a>
    <a class="botones nav-link" routerLink="/direccion">
        <h2>Mis recibos</h2>
        <br>
        <p>Aqui se pueden ver los recibos de compra de la farmacia</p>
        
    </a>
    <a class="botones nav-link" routerLink="/administracion">
        <h2>Mis Datos</h2>
        <br>
        <p>Aqui pueden modificar los datos personales</p>
       
    </a>
</div>