.custom-button {
  display: inline-block;
  text-decoration: none;
  margin: 10px;
  padding: 20px;
  border: 2px solid #007bff; 
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.custom-button:hover {
  background-color: #0056b3; 
}

.container-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

