<div class="container mat-align-center water-background">
    <div class="mat-card width">
      <div class="mat-card-header">
        <div class="mat-card-title">
          Iniciar sesión con
          <img src="assets/images/jwt.png" alt="" width="100px" height="30px">
          .
        </div>
      </div>
      <div class="mat-card-content">
        <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
          <div class="mat-form-field">
            <label for="nombreUsuario">Nombre de Usuario</label>
            <input matInput type="text" name="nombreUsuario" id="nombreUsuario" [(ngModel)]="nombreUsuario" required>
          </div>
          <div class="mat-form-field">
            <label for="password">Contraseña</label>
            <input matInput type="password" name="password" id="password" [(ngModel)]="password" required>
          </div>
          <div class="mat-form-field">
            <button mat-raised-button color="primary" [disabled]="!f.valid" type="submit">
              <i class="material-icons">login</i> Iniciar Sesión
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  