<div class="postear">
    <div class="card bg-dark">
      <div class="card-header text">
        <h2>Solicita tu tarea.</h2>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group text">
            <label for="tarea_nombre">Nombre</label>
            <input id="tarea_nombre" name="tarea_nombre" type="text" class="validate form-control" [(ngModel)]="tareaNombre">
          </div>
          <div class="form-group text">
            <label for="tarea_descripcion">Descripción</label>
            <textarea id="tarea_descripcion" name="tarea_descripcion" class="materialize-textarea form-control" [(ngModel)]="tareaDescripcion"></textarea>
          </div>
          <div class="form-group text">
            <label for="tarea_enfermera_asignada">Enfermera Asignada</label>
            <input id="tarea_enfermera_asignada" name="tarea_enfermera_asignada" class="materialize-textarea form-control" [(ngModel)]="tareaEnfermeraAsignada">
          </div>
          <div class="form-group text">
            <label for="tarea_prioridad">Prioridad</label>
            <input id="tarea_prioridad" name="tarea_prioridad" type="text" class="form-control" [(ngModel)]="tareaPrioridad">
          </div>
          <div class="form-group text">
            <label for="tarea_paciente_asociado">Paciente Asociado</label>
            <input id="tarea_paciente_asociado" name="tarea_paciente_asociado" type="text" class="form-control" [(ngModel)]="tareaPacienteAsociado">
          </div>
          <div class="form-group text">
            <label for="tarea_ubicacion">Ubicación</label>
            <input id="tarea_ubicacion" name="tarea_ubicacion" type="text" class="form-control" [(ngModel)]="tareaUbicacion">
          </div>
          <div class="form-group text">
            <label for="tarea_notas">Notas</label>
            <textarea id="tarea_notas" name="tarea_notas" class="materialize-textarea form-control" [(ngModel)]="tareaNotas"></textarea>
          </div>
          <div class="form-group text">
            <button class="btn btn-outline-success btn-block text" type="submit"><i class="fas fa-sign-in-alt"></i> Publicar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  