<div *ngIf="usuarios.length > 0">
  <div class="col-md-6 mb-2">
    <label for="roleSelector">Filtrar por cargo</label>
    <select id="roleSelector" class="form-control" [(ngModel)]="selectedRole" (ngModelChange)="filterByRole()">
      <option value="">Todos los cargos</option>
      <option *ngFor="let role of allRoles" [value]="role">{{ role }}</option>
    </select>
    <div>Selected Role: {{ selectedRole }}</div>
    <div>All Roles:</div>
    <ul>
      <li *ngFor="let role of allRoles">{{ role }}</li>
    </ul>
  </div>
  <div class="row">      
    <div *ngFor="let usuario of filteredUsuarios" class="col-md-6 mb-2">
        <div class="card bg-primary">
          <div class="row no-gutters">
            <div class="col-md-6">
              <div class="card-body">               
                <p class="card-text"><strong>Nombre:</strong> {{ usuario.nombre }}</p>
                <p class="card-text"><strong>Nombre de Usuario:</strong> {{ usuario.nombreUsuario }}</p>
                <p class="card-text"><strong>Email:</strong> {{ usuario.email }}</p>                
                <ul class="list-group list-group-flush">
                  <li *ngFor="let rol of usuario.roles" class="list-group-item">                    
                    <p><strong>Cargo</strong> {{ rol.rolNombre }}</p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center">
              <img [src]="'assets/images/users/' + getImageForRole(usuario.roles[0].rolNombre)" class="img-fluid" alt="" width="200x" height="200px">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav *ngIf="totalPages > 1">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="page === 0">
        <a class="page-link" (click)="previousPage()">Pagina anterior.</a>
      </li>
      <li class="page-item" [class.disabled]="page === totalPages - 1">
        <a class="page-link" (click)="nextPage()">Pagina siguiente.</a>
      </li>
    </ul>
  </nav>
  <div class="mt-2">
    Page {{ page + 1 }} of {{ totalPages }}
  </div>
<div *ngIf="usuarios.length === 0" class="alert alert-warning mt-4">
  No usuarios to display.
</div>
