<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <span><fa-icon class="white-icon" [icon]="hospitalIcon"></fa-icon></span>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto"> <!-- Use "mr-auto" to align left -->
      <li class="nav-item"> 
        <a  class="nav-link return" style="cursor: pointer;" (click)="goBack()">Pagina Anterior <------ </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto"> <!-- Use "ml-auto" to align right -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/index"><i class="fa fa-home"></i> Inicio</a>
      </li>     
      <li class="nav-item" *ngIf="isLogged" (click)="onLogOut()">
        <a class="nav-link" style="cursor: pointer;"><i class="fas fa-door-open" ></i> Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</nav>
