.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffa500;
  box-shadow: 0 0 20px rgba(255, 165, 0, 0.6);
  height: auto;
}

.logger {
  width: 70%;
  height: auto;
  margin-top: 10%;
}

.colores {
  background-color: #ffa500;
  box-shadow: 0 0 20px rgba(255, 165, 0, 0.6);

}