<div class="body">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4"></nav>
<div class="water-background">
    <div class="container">
        <div class="jumbotron colores">
            <h1 *ngIf="!nombreUsuario" class="display-4">Bienvenid@ al hospital de Springular. <img src="assets/images/angular.png" width="50px" height="50px" alt=""> <fa-icon [icon]="hospitalIcon"></fa-icon><img src="assets/images/spring.png" width="100px" height="50px"> </h1>
            <br>
            <h1 *ngIf="!nombreUsuario" class="display-8">Por favor inicia sesion o registrate para acceder a los servicios. </h1>
            <h1 *ngIf="nombreUsuario" class="display-4">Bienvenido {{nombreUsuario}}</h1>
            <p class="lead"> ¡Bienvenido a mi muestra de habilidades! Aquí puedes explorar un proyecto desarrollado con Spring, Angular y SQL como servidor. Ingresa para acceder al contenido y experimentar mis capacidades en desarrollo web.</p>
            <hr class="my-4">
            <p>Este proyecto fue creado por Pablo Andres Peralta.</p>
            <a class="btn btn-primary btn-lg" routerLink="/registro" role="button">Aquí puedes registrar una cuenta para ver la pagina como un usuario corriente.</a>
        </div>
        <div class="logger">
            <app-login></app-login>
            <p class="admin">si deseas utilizar una cuenta con acceso a todas las funcionalidades de la pagina.
            <br>
             Usuario: <span>admin</span> Contraseña: <span>admin</span>
            </p>
        </div>
    </div>

</div>