<mat-form-field class="col-md-6 mb-2">
  <mat-label>Filtrar por cargo</mat-label>
  <mat-select [(ngModel)]="selectedRole" (ngModelChange)="filterByRole()">
    <mat-option value="">Todos los cargos</mat-option>
    <mat-option *ngFor="let role of allRoles" [value]="role">{{ role }}</mat-option>
  </mat-select>
  <div>Selected Role: {{ selectedRole }}</div>
</mat-form-field>

<div class="row" *ngIf="usuarios.length > 0">
  <div *ngFor="let usuario of filteredUsuarios" class="col-md-6 mb-2">
    <mat-card class="bg-primary">
      <div class="row no-gutters">
        <div class="col-md-6">
          <div class="mat-card-content">
            <p class="card-text"><strong>Nombre:</strong> {{ usuario.nombre }}</p>
            <p class="card-text"><strong>Nombre de Usuario:</strong> {{ usuario.nombreUsuario }}</p>
            <p class="card-text"><strong>Email:</strong> {{ usuario.email }}</p>
            <ul class="list-group list-group-flush">
              <li *ngFor="let rol of usuario.roles" class="list-group-item">
                <p><strong>Cargo</strong> {{ rol.rolNombre }}</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-center">
          <img [src]="'assets/images/users/' + getImageForRole(usuario.roles[0].rolNombre)" class="img-fluid" alt="" width="200x" height="200px">
        </div>
      </div>
    </mat-card>
  </div>
</div>

<div *ngIf="usuarios.length === 0 && !mensaje" class="mat-alert mat-warning mt-4">
  No usuarios to display.
</div>

<div *ngIf="mensaje" class="mat-alert mat-warning mt-4">
  {{ mensaje }}
</div>
<div *ngIf="totalPages > 0">
  Page {{ page + 1 }} of {{ totalPages }}
</div>
<nav *ngIf="totalPages > 1">
  <mat-paginator [pageSize]="size" [length]="totalElements" (page)="onPageChange($event)"></mat-paginator>
</nav>

