<app-menu></app-menu>
<p>turnos-pendientes works!</p>
<div *ngFor="let turno of turnos">
    <div class="card  rounded border-dark post">       
       <div class="text-center">
          <h4 class="card-title text-capitalize font-weight-bold">{{turno.consultorio}}</h4>
          <br>
          <br>
          <br>
          <p class="card-body font-weight-normal">{{turno.text}}</p> 
          <br>
          <br>
          <br>               
          <a class="card-footer font-italic font-weight-bold text-capitalize" ><small>Paciente {{turno.paciente}}</small></a>
       </div>
    </div>
 </div>