<app-menu></app-menu>
<div class="turno-container">
  <div *ngFor="let medicamento of medicamentos" class="card rounded border-dark post">
    <div class="text-center">
      <h4 class="card-title text-capitalize font-weight-bold">{{medicamento.nombre}}</h4>
      <br>
      <br>
      <br>
      <p class="card-body font-weight-normal">{{medicamento.descripcion}}</p>
      <br>
      <br>
      <br>
      <a class="card-footer font-italic font-weight-bold text-capitalize"><small>Precio {{medicamento.precio}}$</small></a>
      <button>Eliminar</button><button>Editar</button>
    </div>
  </div>
</div>
