<app-menu></app-menu>
<div class="container-main">
    
    <a class="botones nav-link" routerLink="/medica">
        <h2>Area<br>Medica</h2>
        <br>
        <p>Aqui pueden ingresar los medicos</p>
        <br>
        <br>
        <span>footer</span>
    </a>
    <a class="botones nav-link" routerLink="/enfermeria">
        <h2>Area<br>Enfermeria</h2>
        <br>
        <p>Aqui pueden ingresar los enfermeros</p>
        <br>
        <br>
        <span>footer</span>
    </a>
    <a class="botones nav-link" routerLink="/pacientes">
        <h2>Area<br>pacientes</h2>
        <br>
        <p>Aqui pueden ingresar pacientes</p>
        <br>
        <br>
        <span>footer</span>
    </a>
    <a class="botones nav-link" routerLink="/farmacia">
        <h2>Area<br>Farmacia</h2>
        <br>
        <p>Aqui pueden ingresar farmaceuticos</p>
        <br>
        <br>
        <span>footer</span>
    </a>
    <a class="botones nav-link" routerLink="/direccion">
        <h2>Area<br>directiva</h2>
        <br>
        <p>Aqui pueden ingresar directivos</p>
        <br>
        <br>
        <span>footer</span>
    </a>
    <a class="botones nav-link" routerLink="/administracion">
        <h2>Area<br>Administrativa</h2>
        <br>
        <p>Aqui pueden ingresar administrativos</p>
        <br>
        <br>
        <span>footer</span>
    </a>
</div>