<app-menu></app-menu>
<form (ngSubmit)="onSubmit()" class="my-4">
  <div class="form-group">
    <label for="consultorio">Consultorio:</label>
    <input type="text" id="consultorio" name="consultorio" [(ngModel)]="consultorio" required class="form-control">
  </div>

  <div class="form-group">
    <label for="medicamentoId">Medicamento ID:</label>
    <input type="number" id="medicamentoId" name="medicamentoId" [(ngModel)]="medicamentoId" required class="form-control">
  </div>

  <button type="submit" class="btn btn-primary">Create Receta</button>
</form>