<div class="body">
<app-menu></app-menu>
<p *ngIf="isAdmin || isMedic">Bienvenido Doctor</p>
<div class="container-main">    
    <app-consultorio
        class="botones"
        *ngFor="let consultorio of consultoriosData"
        [title]="consultorio.title"
        [description]="consultorio.description"
        [turnosLink]="consultorio.turnosLink"
        [solicitarLink]="consultorio.solicitarLink"
        [isAdmin]="isAdmin"
        [isMedic]="isMedic"
        [doctor]="consultorio.doctor"
    ></app-consultorio>
</div>
</div>