<app-menu></app-menu>
<p *ngIf="isAdmin || isPharma">Hola farmaceutica</p>
<div class="container-main">
    
    <a class="botones nav-link" routerLink="/ventas">
        <h2>Farmacia</h2>
        <br>
        <p>Aqui se puede comprar medicamentos</p>
        
    </a>
    <a class="botones nav-link" routerLink="/recetas">
        <h2>Recetas Cargadas</h2>
        <br>
        <p>Aqui se puede ver las recetas cargadas</p>
       
    </a>
    <a class="botones nav-link" routerLink="">
        <h2>Ver historial de ventas</h2>
        <br>
        <p>Aqui se puede ver las ventas realizadas</p>
       
    </a>
   
</div>